<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{prestamo.edit.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{prestamo.edit.headline}]]</h1>
                <div>
                    <a th:href="@{/prestamos}" class="btn btn-secondary">[[#{prestamo.edit.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('prestamo')}" />
            <form th:action="${requestUri}" method="post">
                <div th:replace="~{fragments/forms::inputRow(object='prestamo', field='id', disabled=true, type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='prestamo', field='fechaPrestamo', inputClass='js-datepicker')}" />
                <div th:replace="~{fragments/forms::inputRow(object='prestamo', field='fechaDevolucion', inputClass='js-datepicker')}" />
                <div th:replace="~{fragments/forms::inputRow(object='prestamo', field='renovado', type='checkbox')}" />
                <div th:replace="~{fragments/forms::inputRow(object='prestamo', field='estadoPreestamo', type='radio')}" />

                <div th:replace="~{fragments/forms::inputRow(object='prestamo', field='libro', type='select')}" />

                <div th:if="${libro.estado == 'ROTO'}" class="alert alert-danger" role="alert">
                    El libro está roto y no puede ser prestado.
                </div>

                <div th:if="${libro.estado != 'ROTO'}">
                    <!-- Aquí va el código del formulario para el libro que no está roto -->
                    <div th:replace="~{fragments/forms::inputRow(object='prestamo', field='libro', type='select')}" />
                    <!-- Otros campos del formulario -->
                    <input type="submit" th:value="#{prestamo.edit.headline}" class="btn btn-primary mt-4" />
                </div>


                <div th:replace="~{fragments/forms::inputRow(object='prestamo', field='lector', type='select')}" />
                <div th:replace="~{fragments/forms::inputRow(object='prestamo', field='bibliotecario', type='select')}" />
                <!--<div th:replace="~{fragments/forms::inputRow(object='prestamo', field='prestamoLibroLibroes', type='multiselect')}" />-->
                <input type="submit" th:value="#{prestamo.edit.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
