<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>[[#{multas.list.headline}]]</title>
</head>
<body>
<div layout:fragment="content">
    <div class="d-flex flex-wrap mb-4">
        <h1 class="flex-grow-1">[[#{multas.list.headline}]]</h1>
    </div>
    <div th:if="${multases.empty}">[[#{multas.list.empty}]]</div>
    <div th:if="${!multases.empty}" class="table-responsive">
        <table class="table table-striped table-hover align-middle">
            <thead>
            <tr>
                <th scope="col">[[#{multas.id.label}]]</th>
                <th scope="col">[[#{multas.total.label}]]</th>
                <th scope="col">[[#{multas.prestamo.label.lector}]]</th>
                <th><!-- --></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="multas : ${multases}">
                <td>[[${multas.id}]]</td>
                <td>[[${multas.total}]]</td>
                <td>[[${multas.prestamo}]]</td>
                <td>
                    <div class="float-end text-nowrap">
                        <form th:action="@{/multass/delete/{id}(id=${multas.id})}"
                              th:hx-confirm="#{delete.confirm}" method="post" class="d-inline">
                            <button type="submit" class="btn btn-sm btn-secondary">[[#{multas.list.delete.lector}]]</button>
                        </form>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
