<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{multas.edit.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{multas.edit.headline}]]</h1>
                <div>
                    <a th:href="@{/multass}" class="btn btn-secondary">[[#{multas.edit.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('multas')}" />
            <form th:action="${requestUri}" method="post">
                <div th:replace="~{fragments/forms::inputRow(object='multas', field='id', disabled=true, type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='multas', field='total')}" />
                <div th:replace="~{fragments/forms::inputRow(object='multas', field='nombreLector')}" />
                <div th:replace="~{fragments/forms::inputRow(object='multas', field='prestamo', type='select')}" />
                <div th:replace="~{fragments/forms::inputRow(object='multas', field='multasLectorLectors', type='multiselect')}" />
                <input type="submit" th:value="#{multas.edit.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
