<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" lang="">
<head>
    <title>[[#{home.inicio.titulo.lector}]]</title>
</head>
<body>
<div layout:fragment="content">
    <h1 class="mb-4">[[#{home.index.headline.lector}]]</h1>
    <p>[(#{home.index.text.lector})]</p>
    <div class="col-md-4 mb-5">
        <h4 class="mb-3">[[#{home.index.exploreEntities}]]</h4>
        <div class="list-group">
            <ul>
                <li><a th:href="@{/lectors/librosLectores}" class="list-group-item list-group-item-action">[[#{libro.list.lector}]]</a> </li>
                <li><a th:href="@{/prestamos}" class="list-group-item list-group-item-action">[[#{prestamo.list.lector}]]</a></li>
                <li><a th:href="@{/multass/multasLector}" class="list-group-item list-group-item-action">[[#{multas.list.lector}]]</a></li>
                <li><a th:href="@{/lectors/politicaPrestamos}" class="list-group-item list-group-item-action">[[#{politicaPrestamo.list.lector}]]</a></li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>